<img src="http://oci02.img.iteso.mx/identidad_de_instancia_2018/ITESO/Logos%20ITESO/Logo-ITESO-Principal.jpg">

<center><font color=#555555><font size=6> Ingeniería Financiera </font> <br> <br>

<center><font color=#555555><font size=5> ITE1731 - Microestructura y Sistemas de Trading </font> <br> <br> <br>

<center><font color=#555555><font size=5> I.F. Sofía García </font> <br> <br>
<center><font color=#555555><font size=5> I.F. Evelyn Gutiérrez </font> <br> <br>
<center><font color=#555555><font size=5> I.F. Andrea Jiménez Orozco </font> <br> <br>
<center><font color=#555555><font size=5> I.F. Roberto Chávez Guerrero </font> <br> <br>
<center><font color=#555555><font size=5> I.F. José Fernando Flores García </font> <br> <br>


   
<center> <font color= #555555> <font size = 4> Septiembre 2020 </a> | <font color= #555555> <font size = 4> Repositorio: <a href='https://github.com/andreajimenezorozco/MyST_LAB3_1'>Link</a></font>

<br>

---

<br>

<br>

<center> <font color= #555555> <font size = 6> Laboratorio 3 </font> <br> <br> <font color= #555555> <font size = 5> Análisis del desempeño de Trading </font>

# <font color= #555555> <font size = 5> Abstract </font>

<font color= #6B6B6B> <font size = 2> Este documento fue elaborado por los I.F. **Sofía García, Evelyn Gutiérrez, Andrea Jiménez Orozco, Roberto Chávez Guerrero y José Fernando Flores García**, como un trabajo parcial para la materia de **Microestructura y Sistemas de Trading - ITE1731**, la cual es parte del curriculum de la licenciatura en Ingeniería Financiera, ofertada por la universidad **ITESO**. En el presente trabajo se plantea la respuesta a la siguiente pregunta: *¿Cómo análizar el desempeño de la actividad de trading?*</font>

<br>

# <font color= #6B6B6B> <font size = 6> 0. Librerías y Dependencias </font>

<hr style="border:0.02in solid gray"> </hr>

# <font color= #6B6B6B> <font size = 5> 0.1 Librerías </font> <font color= #555555>

<font color= #6B6B6B> <font size = 2> Para correr este notebook es necesario tener instaladas y/o en el archivo _requirements.txt_ las siguientes librerías : </font>

<font color= #6B6B6B> <font size = 2>  
- pandas >= 1.1.1 
- numpy >= 1.19.1
- jupyter >= 1.0.0
- statistics 
- getpass
- MetaTrader5 >= 5.0.34
- datetime
    </font>

# <font color= #6B6B6B> <font size = 5> 0.2 Dependencias </font> <font color= #555555>

<font color= #6B6B6B> <font size = 2> Para correr este notebook es necesario contar con los siguientes archivos y dependencias externas: </font>

<font color= #6B6B6B> <font size = 2>  
- files/Accounts.xlsx : Archivo de cuentas sugeridas
    </font>

<br>

# <font color= #6B6B6B> <font size = 6> 1. Introducción </font>

<hr style="border:0.02in solid gray"> </hr>

<font color= #6B6B6B> <font size = 2>  
    
    
    
    
    
    
    
    
</font>

<br>

# <font color= #6B6B6B> <font size = 6> 2. Objetivos </font>

<hr style="border:0.02in solid gray"> </hr>

<font color= #6B6B6B> <font size = 2> Este laboratorio tiene como propósito particular el elaborar herramientas para el análisis del desempeño de la actividad de trading, desde el punto de vista de la cuenta y desde el punto de vista de la persona que opera la cuenta (trader). </font>

<br>

# <font color= #6B6B6B> <font size = 6> 3. Datos </font>

<hr style="border:0.02in solid gray"> </hr>

In [1]:
#Librerías
from functions import *

In [2]:
#Se muestra el ejemplo crudo de una cuenta
f_leer_archivo().head()

Los nombres son: ['Fernando', 'Sofia', 'Andrea', 'Otro']
Ingrese nombre del integrante a analizar: Sofia
Se inició con éxito la cuenta

,Position,Time,Symbol,Type,Volume,Price,Time.1,Price.1,Commission,Swap,Profit
0,874808802,1613966331,USDCHF,sell,0.11,0.89665,1613989736,0.90170,0.0,0.00,-61.61
1,876774544,1614062869,USDHKD,sell,0.01,7.75336,1614116190,7.75403,0.0,0.00,-0.09
2,875643545,1614007518,USDCHF,sell,0.10,0.89671,1614149025,0.90671,0.0,-0.22,-110.29
3,878724283,1614152189,USDNOK,sell,0.10,8.46777,1614208999,8.37131,0.0,0.00,115.23
4,874636239,1613778939,EURUSD,sell,0.11,1.21174,1614238068,1.21824,0.0,-0.66,-71.50

# <font color= #6B6B6B> <font size = 6> 4. Procesos </font>

<hr style="border:0.02in solid gray"> </hr>

<h2><font color= #6B6B6B> Parte1. Creación de un análisis de pips, tiempo transcurrido, así como estadísticas básicas </font></h2>
    
    
<font color= #6B6B6B> <font size = 2> Los múltiples DataFrames creados serán útiles para realizar análisis y estadísticas básicas de las cuentas de los integrantes del equipo (o cualquier otra cuenta de trading que se encuentre en el servidor MetaQuotesDemo). </font>

In [6]:
data, data2, data3, data4, df1_est_ba, df2_ranking = Full_Part1()

Los nombres son: ['Fernando', 'Sofia', 'Andrea', 'Otro']
Ingrese nombre del integrante a analizar: Andrea
Se inició con éxito la cuenta
Primer análisis realizado con éxito

In [7]:
#Ejemplo de tamaño de pips independientemente del intrumento
f_pip_size('USDJPY'), f_pip_size('EURUSD')

(100, 10000)

In [8]:
#Primer DataFrame con lectura de datos
data.head()

,Position,Time,Symbol,Type,Volume,Price,Time.1,Price.1,Commission,Swap,Profit,open_time,close_time,time,pips,pips_acm,profit_acm
0,874536090,1613770429,EURUSD,sell,0.05,1.21125,1613970236,1.21201,0.0,-0.05,-3.80,2021-02-19 15:33:49,2021-02-21 23:03:56,199807.0,-7.6,-7.6,-3.80
1,874484872,1613767461,USDMXN,sell,0.05,20.47631,1613985679,20.65000,0.0,0.49,-42.06,2021-02-19 14:44:21,2021-02-22 03:21:19,218218.0,-1736.9,-1744.5,-45.86
2,874537024,1613770507,USDMXN,sell,0.05,20.50927,1613985679,20.65000,0.0,0.49,-34.08,2021-02-19 15:35:07,2021-02-22 03:21:19,215172.0,-1407.3,-3151.8,-79.94
3,874727636,1613960199,USDMXN,sell,0.10,20.48310,1613985679,20.65000,0.0,0.00,-80.82,2021-02-21 20:16:39,2021-02-22 03:21:19,25480.0,-1669.0,-4820.8,-160.76
4,874860183,1613970329,EURUSD,buy,0.30,1.21204,1614050026,1.21648,0.0,-0.21,133.20,2021-02-21 23:05:29,2021-02-22 21:13:46,79697.0,44.4,-4776.4,-27.56

In [9]:
#Se avanza en el análisis de los DataFrames añadiendo columnas de tiempos, pips
data3.head()

,Position,Time,Symbol,Type,Volume,Price,Time.1,Price.1,Commission,Swap,Profit,open_time,close_time,time,pips,pips_acm,profit_acm
0,874536090,1613770429,EURUSD,sell,0.05,1.21125,1613970236,1.21201,0.0,-0.05,-3.80,2021-02-19 15:33:49,2021-02-21 23:03:56,199807.0,-7.6,-7.6,-3.80
1,874484872,1613767461,USDMXN,sell,0.05,20.47631,1613985679,20.65000,0.0,0.49,-42.06,2021-02-19 14:44:21,2021-02-22 03:21:19,218218.0,-1736.9,-1744.5,-45.86
2,874537024,1613770507,USDMXN,sell,0.05,20.50927,1613985679,20.65000,0.0,0.49,-34.08,2021-02-19 15:35:07,2021-02-22 03:21:19,215172.0,-1407.3,-3151.8,-79.94
3,874727636,1613960199,USDMXN,sell,0.10,20.48310,1613985679,20.65000,0.0,0.00,-80.82,2021-02-21 20:16:39,2021-02-22 03:21:19,25480.0,-1669.0,-4820.8,-160.76
4,874860183,1613970329,EURUSD,buy,0.30,1.21204,1614050026,1.21648,0.0,-0.21,133.20,2021-02-21 23:05:29,2021-02-22 21:13:46,79697.0,44.4,-4776.4,-27.56

In [10]:
#Resultados de estadísticas básicas
df1_est_ba

             medida  valor                            descripcion
0       Ops totales  24.00                    Operaciones totales
1         Ganadoras  13.00                  Operaciones ganadoras
2       Ganadoras_c  11.00        Operaciones ganadoras de compra
3       Ganadoras_v   2.00         Operaciones ganadoras de venta
4        Perdedoras  11.00                 Operaciones perdedoras
5      Perdedoras_c   5.00       Operaciones perdedoras de compra
6      Perdedoras_v   6.00        Operaciones perdedoras de venta
7   Mediana(Profit)  24.30       Mediana de profit de operaciones
8     Mediana(Pips)  25.50         Mediana de pips de operaciones
9     r_efectividad   0.54  Ganadoras Totales/Operaciones Totales
10     r_proporcion   1.18   Ganadoras Totales/Perdedoras Totales
11  r_efectividad_c   0.46  Ganadoras Compras/Operaciones Totales
12  r_efectividad_v   0.08   Ganadoras Ventas/Operaciones Totales

In [11]:
#Resultados de ranking
df2_ranking

   symbol  rank (%)
0  USDJPY     100.0
1  EURUSD      50.0
2  USDMXN      43.0

<br>

# <font color= #6B6B6B> <font size = 6> 5. Conclusiones </font>

<hr style="border:0.02in solid gray"> </hr>

In [2]:
# en esta seccion es opcional incluir algun codigo para mostrar
# visualmente algun concepto o hallazgo relevante como conclusion

In [3]:
# En esta sección es opcional incluir código para mostrar/visualizar
# los datos con los que se trabajó en el laboratorio

<br>

# <font color= red> <font size = 6> 5. Pruebas (no incluir) </font>

<hr style="border:0.02in solid red"> </hr>

Las siguientes son una serie de pruebas para verificar que todo este funcionando bien, instaladas/cargadas las librerias, importar otros scripts, imprimir graficas de plotly.

In [4]:
import pandas as pd
import data as dt

In [5]:
# -- TEST 1 : 
# verify that the script is being read
print(dt.dict_test)

{'key_a': 'a', 'key_b': 'b'}

In [6]:
# -- TEST 2 :
# verify that installed pandas module works correctly
df_dict_test = pd.DataFrame(dt.dict_test, index=[0,1])
print(df_dict_test)

  key_a key_b
0     a     b
1     a     b

In [7]:
# -- TEST 3 :
# verify you can use plotly and visualize plots in jupyter notebook

import chart_studio.plotly as py  # various tools (jupyter offline print)
import plotly.graph_objects as go # plotting engine 

# example data
df = pd.DataFrame({'column_a': [1, 2, 3, 4, 5], 'column_b': [1, 2, 3, 4, 5]})
# basic plotly plot
data = [go.Bar(x=df['column_a'], y=df['column_b'])]
# instruction to view it inside jupyter
py.iplot(data, filename='jupyter-basic_bar')
# (alternatively) instruction to view it in web app of plotly
# py.plot(data)

In [8]:
# -- TEST 4 :
# verify you can use plotly and visualize plots in web browser locally

import plotly.io as pio            # to define input-output of plots
pio.renderers.default = "browser"  # to render the plot locally in your default web browser

# basic plotly plot
plot_data = go.Figure(go.Bar(x=df['column_a'], y=df['column_b']))
# instruction to view it in specified render (in this case browser)
plot_data.show()